<!doctype html>

{% include 'common/header.html' %}
{% include 'common/navbar.html' %}

<html lang="en">

{% block header %}
<title>Upload</title>
{% endblock %}

<body>
    {% block navbar %}
    {% endblock %}

    <div class="container mt-4">
        {% if error %}
            <h3>{{ error }}</h3>
        {% endif %}

        <h4>Upload the student records' file below</h4>
        <p>Note: The file must strictly be in <span>.xlsx</span> format.</p>

        <form method="POST" action="../upload/" enctype="multipart/form-data">

            {% csrf_token %}
            <input type="file" name="myFile" id="customFile" /><br>
            <input type="submit" name="submit" class="submit-btn"/>
        </form>

        <div class="instructions-tab">
            <h6>NOTE</h6>
            <ul>
                <li>Make sure you have the <strong>column names</strong> of excel as mentioned in below table</li>
                <li>Keep the <strong>(blank) columns as blank</strong> and fill the rest of the columns as per given in table</li>
                <li>Keep in mind the <strong>formatting (uppercase, lowercase)</strong> of each data for each column</li>
            </ul>
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>student_id</th>
                        <th>first_name</th>
                        <th>last_name</th>
                        <th>course_name</th>
                        <th>branch_name</th>
                        <th>email</th>
                        <th>gender</th>
                        <th>category_name</th>
                        <th>seat_type</th>
                        <th>fees_allotted</th>
                        <th>fees_paid</th>
                        <th>payment_status</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>(blank)</td>
                        <td>123010024</td>
                        <td>Ramesh</td>
                        <td>Charan</td>
                        <td>btech</td>
                        <td>civil</td>
                        <td>ramesh@gmail.com</td>
                        <td>M</td>
                        <td>sc</td>
                        <td>open</td>
                        <td>(blank)</td>
                        <td>0</td>
                        <td>(blank)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>