<!doctype html>

{% include 'common/header.html' %}
{% include 'common/navbar.html' %}

<html lang="en">

{% block header %}
<title>Dashboard</title>
{% endblock %}

<body>
    {% block navbar %}
    {% endblock %}

    <div class="container mt-4">
        <h1>Welcome, {{ student_name }}!</h1>

        {% if studentData != None %}
        <p>Check your student details below:</p>

        <table>
            <tr>
                <th>Student Id</th>
                <th>Student Name</th>
                <th>Course Name</th>
                <th>Branch Name</th>
                <th>Category Name</th>
                <th>Seat Type</th>
                <th>Fees Allotted</th>
                <th>Fees Paid</th>
                <th>Payment Status</th>
                <th>Action</th>
            </tr>

            {% for x in studentData %}
            <tr>
                <td>{{ x.student_id }}</td>
                <td>{{ x.first_name }} {{ x.last_name }}</td>
                <td>{{ x.course_name }}</td>
                <td>{{ x.branch_name }}</td>
                <td>{{ x.category_name }}</td>
                <td>{{ x.seat_type }}</td>
                <td>{{ x.fees_allotted }}</td>
                <td>{{ x.fees_paid }}</td>
                <td>{{ x.payment_status }}</td>
                {% if payment_status == 'Paid' %}
                    <td><a href="https://www.example.com">Download receipt</a></td>
                {% else %}
                    <td><a href="https://www.example.com">Pay Now</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

        {% else %}
        <p>Your data is yet to be uploaded on system. Please check back later.</p>
        {% endif %}
    </div>

</body>
</html>